/* Reset Styles */

@import url(../header.php); 
@import url(css/reset.css);


/* Page Styles */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  max-width: auto;
  width: auto;
  margin: 0 auto; }

img {
  max-width: 100%;
  height: auto;
  width: auto\9;
  /* ie8 */ }

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

hr {
	border: none;
	border-bottom: 3px solid #f7f7f7;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1; 
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
 
    -webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:0.3s;
    -moz-animation-duration:0.3s;
    animation-duration:0.3s;
    

    -webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	animation-delay: 0.5s;

}

a { color: #333; text-decoration: none; }
a:hover { color: #b2c3e8; }

h1 { font: bold 2.5em 'Oswald', sans-serif; }

header {
	margin: 0 0 20px 0;
	padding: 20px;
}

header h1 {
	float: left;
}

header nav { float: right; }
header nav ul li {display: inline-block; margin: 10px 0 0 0;}
header nav ul li a { display: block; padding: 10px; border: 1px solid #fff;}
header nav ul li a:hover, header nav ul li a.active { background: #f7f7f7; color: #b2c3e8; border: 1px solid #eee;}
#main-content { padding: 0 30px; }
footer {
	border: 1px solid #eee;
	background: #f7f7f7;
	margin-top: 20px;
	padding: 30px;
}

.splash {
	background: url(../img/splash-bg-15-11-2014.png) center center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	min-height: 360px;
	z-index: 999;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
}

.splash-title {
	color: white;
	font-size: 3em;
	margin-top: 100px;
	text-shadow: 0 2px 10px #000;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}

a.splash-arrow {
	color: white;
	font-size: 1.2em;
	position: absolute;
	bottom: 55px;
	left: 50%;
	margin-left: -25px;
	padding: 10px;
	width: 70px;
	height: 70px;
	font-weight: bold;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	animation-delay: 1.5s;
	border: 3px solid white;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

a.splash-arrow:hover {
	text-decoration: none;
	bottom: 50px;
}
